limb:
  account: # Optional, qq account (leave empty for QR code login)
  password: # Optional, qq password (leave empty for QR code login)

service:
  addr: ws://10.10.10.10:11111 # Required, ocotpus address
  secret: hello # Reuqired, user defined secret
  ping_interval: 30s # Optional
  send_timeout: 3m # Optional
  sync_delay: 1m # Optional
  sync_interval: 6h # Optional

log:
  level: info
